
<div class="container-fluid user_infos_container">
  <div class = "row justify-content-center">
    <div class="col-lg-6">
        <div class="user_infos_title">Account Overview</div>
        <div class="user_infos_label">Profile</div>
        <div class="card mb-4 ">
          <div class="card-body ">
            <div class="row">
              <div class="col-sm-7">
                <p class="text-muted mb-0 form_user_infos_label">Username</p>
              </div>
              <div class="col-sm-5">
                <p class="mb-0 form_user_infos_textfield"><%= @user.user_name%></p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="text-muted col-sm-7">
                <p class="mb-0 form_user_infos_label">Email</p>
              </div>
              <div class="col-sm-5">
                <p class="mb-0 form_user_infos_textfield"><%= @user.email%></p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-7">
                <p class="text-muted mb-0 form_user_infos_label">Phone number</p>
              </div>
              <div class="col-sm-5">
                <p class="mb-0 form_user_infos_textfield"><%= @user.phone_number%></p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-7">
                <p class="text-muted mb-0 form_user_infos_label">Gender</p>
              </div>
              <div class="col-sm-5">
                <p class="mb-0 form_user_infos_textfield"><%= @user_info ? @user_info.gender : "" %></p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-7">
                <p class="text-muted mb-0 form_user_infos_label">Date of birth</p>
              </div>
              <div class="col-sm-5">
                <p class="mb-0 form_user_infos_textfield"><%= @user_info ? @user_info.date_of_birth : "" %></p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-7">
                <p class="text-muted mb-0 form_user_infos_label">Province</p>
              </div>
              <div class="col-sm-5">
                <p class="mb-0 form_user_infos_textfield"><%= @user_info ? @user_info.address : "" %></p>
              </div>
            </div>
            <hr>
          </div>
        </div>
        <%= link_to "Edit profile", edit_users_user_infos_path, class:"btn btn-outline-secondary button_edit"%>
        <h2 class="user_infos_label">Support</h2>
        <div class="row align-items-center" style="color: 1F7564;">
            <button type="button" class="btn button_send_request">
                <div class="row justify-content-between align-items-center">
                    <div class="col support_textfield">Send a question</div>
                    <div class="col"><%= image_tag("arrow.png", alt: "Image") %></div>
                </div>
            </button>
        </div>
        <div class="row align-items-center" >
            <button type="button" class="btn button_customer_care">
                <div class="row justify-content-between align-items-center">
                    <div class="col support_textfield">Customer are call center</div>
                    <div class="col"><%= image_tag("person.png", alt: "Image") %></div>
                </div>
            </button>
        </div>
        <h2 class="user_infos_label">Q&A</h2>
        <div class="row align-items-center">
            <%= image_tag("poster.png", alt: "Image") %>
        </div>
        <center>
            <%= link_to "Log out",destroy_user_session_path, class:"btn btn-outline-secondary button_logout", data: {turbo_method: :delete} %>
        </center>
  </div>
</div>


