<tr id="album-<%= podcast_album.id %>">
  <td><%= podcast_album.id %></td>
  <% if podcast_album.image? %>
    <td><%= image_tag podcast_album.image.url, alt: "Album Avatar", class: "",style: " height: 80px; border-radius: 50%" %></td>
  <% else %>
    <td><%= image_tag 'podcast.jpg', alt: "Album Avatar", class: "",style: " height: 80px; border-radius: 50%" %></td>
  <% end %>
  <td><%= podcast_album.name %></td>
  <td><%= podcast_album.user.user_name %></td>
  <td><%= link_to "Edit", admins_podcast_album_path(podcast_album), class: 'button_hover btn btn-primary bg_green border_green update_class' %></td>
  <td><%= link_to 'Destroy', admins_podcast_album_path(podcast_album), method: :delete, data: { confirm: "Destroy album '#{podcast_album.name}'?" }, remote: :true, class: "destroy_class btn btn-danger" %></td>
</tr>