<div class="table-responsive">
  <table class = 'table mx-auto table-condensed align-middle user-table'>
    <thead class="align-middle">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">User Name</th>
        <th scope="col">Profile Name</th>
        <th scope="col">Date of Birth</th>
        <th scope="col">Phone Number</th>
        <th scope="col">Anonymous</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <% users.each do |user| %>
        <tr id="user-<%= user.id %>" data-anonymous="<%= user.anonymous ? '1' : '0' %>" >
          <td><%= user.id %></td>
          <td><%= link_to user.user_name, admins_user_path(user), class:"fw-medium text-decoration-none text-black" %></td>
          <td><%= user.user_info ? user.user_info.profile_name : "" %></td>
          <td><%= user.user_info ? user.user_info.date_of_birth : "" %></td>
          <td><%= user.phone_number %></td>
          <td>
            <div class="form-check form-switch" >
              <%= check_box_tag "user_anonymous_#{user.id}", "1", user.anonymous, class: "form-check-input anonymous-switch", id: "user_anonymous_#{user.id}" %>
              <label class="form-check-label" for="user_anonymous_<%= user.id %>"></label>
            </div>
          </td>
          <td>
            <%= link_to "Edit", edit_admins_user_path(user), class: "btn btn-edit btn-success text-white button_edit_user" %>
            <%= link_to "Delete", admins_user_path(id: user.id, page: params[:page]), data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'} , class: "btn btn-edit btn-warning text-white button_delete_user" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<div class="d-flex justify-content-end mt-1" id="paginate-user-table">
  <nav aria-label="Page navigation example">
    <%= paginate users, theme: 'bootstrap-5', window: 1 %>
  </nav>
</div>
