<nav class="navbar">
    <div class="container-fluid d-flex">
        <span>
            <a href="#" onclick="moveBackward()" data-turbo-frame="main"><i class="fa-solid fa-chevron-left"></i></a>
            <a href="#" onclick="moveForward()" data-turbo-frame="main"><i class="fa-solid fa-chevron-right"></i></a>
            <a href="#">Placeholder change language</a>
        </span>
        <% if !user_signed_in? %>
            <span class="ms-auto">
                <a type="button" class="btn btn-light custom_signup" href="<%= sign_up_path %>">
                    Sign up
                </a>
                <a type="button" class="btn btn-light custom_signin" href="<%= sign_in_path %>">
                    Log in
                </a>
            </span>
        <% else %>
            <span class="ms-auto">
                <a type="button" class="btn btn-light custom_signin" href=#>
                    Install App
                </a>
            </span>
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
                <i class="fa-solid fa-user fa-sm"></i>
            </button>
            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menu</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Podcast</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Link</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Dropdown
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Action</a></li>
                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                        </li>

                        <li class="nav-item">
                            <%= link_to "My Podcast", users_podcasts_path, data: {turbo_frame: "main"}, class: "nav-link" %>
                        </li>
                        <li class="nav-item">
                            <%= link_to "My Info", users_user_infos_path, class: "nav-link" %>
                        </li>
                        <li class="nav-item">
                            <a href="<%= edit_user_registration_path %>" class="nav-link">Account Settings</a>
                        </li>
                        <li class="nav-item">
                            <a href="<%= sign_out_path %>" data-turbo-method="delete" data-turbo-confirm="Are you sure you want to sign out?" class="nav-link">Sign Out</a>
                        </li>
                    </ul>
                </div>
            </div>
        <% end %>
    </div>
</nav>
