<p style="color: green"><%= notice %></p>

<%= render @podcast_album %>

<div>
  <%= link_to "Edit this podcast album", edit_admins_podcast_album_path(@podcast_album) %> |
  <%= link_to "Back to podcast albums", admins_podcast_albums_path %>

  <%= button_to "Destroy this podcast album", @podcast_album, method: :delete %>
</div>
