
<div class="container-fluid">
  <div class = "row justify-content-center">
    <div class="col-md-5">
      <%= form_for @podcast, url: users_podcasts_path do |f| %>
            <div class="card edit_user__card" >
                <div class="card-body">
                    <div class="row mb-4 align-items-center">
                        <%= f.label :name, class:"col-3 label user_info__label" %>
                        <%= f.text_field :name, class:"col form-control user_info__text" %>
                    </div>
                    <div class="row mb-4 align-items-center ">
                        <%= f.label :author_name, class:"col-3 label user_info__label" %>
                        <%= f.text_field :author_name, class:"col form-control user_info__text" %>
                    </div>
                    <div class="row mb-4 align-items-center ">
                        <%= f.label :audio, class:"col-3 label user_info__label" %>
                        <%= f.file_field :audio, class:"col form-control user_info__text"%>
                    </div>
                    <div class="row mb-4 align-items-center ">
                        <%= f.label :image, class:"col-3 label user_info__label" %>
                        <%= f.file_field :image, class:"col form-control user_info__text"%>
                    </div>
                     <div class="row mb-4 align-items-center ">
                        <%= f.label :episode_number, class:"col-3 label user_info__label" %>
                        <%= f.text_field :episode_number, class:"col form-control user_info__text" %>
                    </div>

                    <div class="row mb-4 align-items-center">
                        <%= f.label :podcast_album_id, class:"col-3 label user_info__label" %>
                        <%= f.collection_select :podcast_album_id, PodcastAlbum.all, :id, :name, { prompt: "Select a album" }, { class: "col form-control user_info__text", id: "collection_name" } %>
                    </div>
                    <center>
                        <%= link_to "New album", new_users_podcast_albums_path, data: { turbo_frame: "new_podcast_album" }, class: "btn btn-info " %>
                    </center>
                    <%= turbo_frame_tag "new_podcast_album" %>
                    
                </div>
            </div>
            <div class="row">
              <%= f.submit "Add", class:"col btn", style:"background-color: #1F7564; color: #fff; border: 2px solid #1F7564; font-size: 18px; margin: 10px 10px 25px 10px;"%>
            </div>
    <% end %>
        
    </div>
  </div>
</div>
