<div class="card" id="<%= dom_id confession %>">
  <div class="card-body">
    <% if confession.anonymous %>
      <h5 class="card-title">
        Anonymous Post
      </h5>
    <% else %>
      <h5>
        <%= confession.user.user_name %>
      </h5>
    <% end %>
    <p class="time_ago"><%= time_ago_in_words(confession.created_at) %> ago</p>
    <%= confession.content.body %>
  </div>
  <div class="text-center custom_tag">
    <%= confession.tag.map {|t| "##{t}"}.join(" ") %>
  </div>
  <div class="btn-group" role="group" aria-label="confession_group">
    <%= link_to like_users_confession_path(confession), class: "btn btn-light custom_button", type: "button", id: "#{dom_id(confession)}_like", data:{turbo_method: :post} do %>
      <%= render "users/shared/like", user: user, item: confession %>
    <% end %>
    <%= link_to "<i class='fa-regular fa-message'></i>".html_safe, users_confession_path(confession), class: "btn btn-light custom_button", type: "button" %>
    <button type="button" class="btn btn-light custom_button"><i class="fa-solid fa-envelope-circle-check"></i></button>
  </div>
</div>
