<%= form_with(model: confession, url: url, id: "#{dom_id(confession)}_form") do |form| %>
  <div>
    <%= form.label :tag, style: "display: block" %>
    <%= form.text_field :tag %>
  </div>

    <div>
    <%= form.label :content, style: "display: block" %>
    <%= form.rich_text_area :content %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
