<%= turbo_frame_tag "board" do %>
  <div class="confessions_board">
    <div id="<%= dom_id @confession %>">
      <% if @confession.anonymous %>
        <h5>Anonymous Post</h5>
      <% else %>
        <h5><%= @confession.user.user_name %></h5>
      <% end %>
      <p>
        <strong>Content:</strong>
        <%= @confession.content.body %>
      </p>
      <p>
        <strong>Tag:</strong>
        <%= @confession.tag.join(", ") %>
      </p>
    </div>

    <div>
      <%= link_to "Edit this confession", edit_users_confession_path(@confession) %> |
      <%= link_to "Back to confessions", users_confessions_path %>

      <%= button_to "Destroy this confession", users_confession_path(@confession), method: :delete %>
    </div>
  </div>
<% end %>
