<%= turbo_frame_tag "board" do %>
  <div class="confessions_board" id="confessions_board">
    <%= render "users/confessions/confession", confession: @confession %>
    <div class="btn-group confession_show_group" role="group" aria-label="confession_show">
      <%= link_to "Back", users_confessions_path, class: "btn btn-light", type: "button" %>
      <%= link_to "Edit", edit_users_confession_path(@confession), class: "btn btn-success", type: "button" %>
      <%= link_to "Delete", users_confession_path(@confession), data: {confirm: "Are you sure to delete this confession?", turbo_method: :delete}, class: "btn btn-danger", type: "button" %>
    </div>
    <hr>
    <p>Placeholder for comments</p>
  </div>
<% end %>
