<div class="card w-80 mb-3 mt-3">
  <div class="card-body">
    <h5 class="card-title">Search user</h5>
    <%= search_form_for @q, url:admins_users_path, class: 'd-flex' do |f| %>
      <div class="input-group mb-3">
        <%= f.search_field :user_info_profile_name_cont, class: 'form-control me-2', placeholder: 'Search name users' %>
        <%= f.search_field :phone_number_cont, class: 'form-control me-2', placeholder: 'Search phone' %>
        <%= f.submit 'Search', class: 'btn btn-outline-success', type: 'submit' %>
      </div>
    <% end %>
  </div>
</div>
<div class="profile-card">
  <div class="card w-80">
    <div class="card-body">
      <div class="card-title card-title-user d-flex justify-content-between align-items-center ">
        <h1>List Users</h1>
        <%= link_to "New User", new_admins_user_path, class:"btn btn-edit" %>
      </div>
      <p class="card-text">
        <%= render "admins/users/partials/user_table", users: @users %>
      </p>
    </div>
  </div>
</div>
<%= javascript_include_tag "jquery" %>
<%= javascript_include_tag 'admins/users_index' %>
