<%= turbo_frame_tag dom_id(conversation) do %>
  <div class="d-flex mb-2 msg_<%= conversation.conversationable.id%> content_hover">
    <img class="img-hover" src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava2-bg.webp" alt="avatar 1">
    <div class="d-flex flex-column">
        <div class="p-3 border bg_<%= conversation.conversationable.id%> his_bg" style="border-radius: 15px; ">
          <p class="small mb-0 comment_content"><%= conversation.content %></p>
        </div>
        <%= turbo_frame_tag(["controls", dom_id(conversation)]) %>
        <%= render "users/conversations/partials/display_controls", conversation: conversation if defined?(user) && user == conversation.conversationable %>
    </div>
    <span class="message-time"><%= conversation.created_at.strftime("%b %d, %Y")%></span> 
  </div>  
<% end %>
