<%= turbo_frame_tag dom_id(conversation) do %>
  <%= turbo_frame_tag(["controls", dom_id(conversation)]) %>
  <div class="row">
    <%= render "users/conversations/partials/display_controls", conversation: conversation if defined?(user) && user == conversation.conversationable %>
    <div><%= conversation.conversationable.email%></div>
    <div><%= conversation.content%></div>
  </div>
  <hr>
<% end %>

