<%= turbo_frame_tag "main" do %>
<div class="container-fluid custom_body">
  <div class="row custom_render_row">
    <div class="col-md-9 custom_room_page ">
        <% if current_user.type == "User" %>
          <div class="container-fluid show_podcast" >
            <h1>List counselor</h1>
            <div class="card">
              <div class="card-body ">
                <%= search_form_for @q, url:users_counselors_path, class: 'd-flex justify-content-center' do |f| %>
                  <div class="input-group mb-3 input_search_room">
                    <%= f.search_field :user_name_cont, class: 'form-control me-2', placeholder: 'Search name' %>
                    <%= f.submit 'Search', class: 'btn btn-outline-primary room_btn_search ', type: 'submit' %>
                  </div>
                <% end %>
              </div>
            </div>
            <div class="d-flex justify-content-center border_counselor">
              <div id="room_menu_join" class="all_room_join">
                <div class="mini_menu d-grid">
                  <% @counselors.each do |counselor| %>
                    <div class="item_room_join">
                      <div class="item_join" id="button_join_<%= counselor.id %>">
                        <% if counselor.user_info.avatar? %>
                          <%= image_tag(counselor.user_info.avatar_url, class:"counselor_avt")%>
                        <% else %>
                          <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava2-bg.webp" alt="avatar 1" class="counselor_avt">
                        <% end %>
                        <p class="counselor_name"><%= counselor.user_name%></p>
                          <%= link_to 'Chat', join_counseler_room_users_counselor_path(counselor), method: :patch, class: 'btn btn-primary btn_join join_counselor_button custom_link_to' %>
                      </div>
                    </div>
                  <% end %>
              </div>
                  <div class="d-flex justify-content-center", id="paginate-element" >
                    <%= paginate @counselors, theme: 'bootstrap-5' %>
                  </div> 
              </div>
            </div>
          </div>
        <% else %>
        <div class="container-fluid show_podcast" >
            <h1>List room</h1>
            <div class="card">
              <div class="card-body ">
                <%= search_form_for @q, url: users_counselors_path, class: 'd-flex justify-content-center' do |f| %>
                  <div class="input-group mb-3 input_search_room">
                    <%= f.search_field :name_cont, class: 'form-control me-2', placeholder: 'Search name' %>
                    <%= f.submit 'Search', class: 'btn btn-outline-primary room_btn_search ', type: 'submit' %>
                  </div>
                <% end %>
              </div>
            </div>
            <div class="d-flex justify-content-center border_counselor">
              <div id="room_menu_join" class="all_room_join">
                <div class="mini_menu d-grid">
                  <% @rooms.each do |room| %>
                    <div class="item_room_join">
                      <div class="item_join" id="button_join_<%= room.id %>">
                        <h4>Room</h4>
                        <label> <%= room.name%></label>
                          <%= link_to 'Chat', users_room_path(room), data: { turbo_frame: "_top" } , class: 'btn btn-primary btn_join join_counselor_button custom_link_to' %>
                      </div>
                    </div>
                  <% end %>
                </div>
              </div>
                  <div class="d-flex justify-content-center", id="paginate-element" >
                    <%= paginate @rooms, theme: 'bootstrap-5' %>
                  </div> 
              </div>
            </div>
          </div>
        <% end %>
      </div>
  </div>
</div>
<% end %>
